<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict/>
    </array>
    
    <!-- Permitir conexiones HTTP a localhost -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>

    <!-- Permiso para usar el micrófono -->
    <key>NSMicrophoneUsageDescription</key>
    <string>Necesitamos acceso al micrófono para afinar la guitarra.</string>
</dict>
</plist>
